.footer {
  @apply flex
  flex-row
  text-base
  p-10
  text-slate-300
  gap-4
  fixed
  inset-x-0
  bottom-0;
}

.footer__copyright {
  @apply flex
  flex-col
  sm:flex-row
  sm:static
  sm:my-0;
}

.footer__list {
  @apply flex
  flex-1
  sm:flex-row
  flex-col
  text-right
  justify-end;
}

.footer__item {
  @apply hover:underline
  px-2
  cursor-pointer;
}
